<nav
  class="navbar navbar-expand-lg fixed-top navbar-transparent arabic"
  color-on-scroll="100"
  id="navbar-top"
>
  <div class="container">
    <div class="navbar-translate">
      <a
        class="navbar-brand"
        placement="bottom"
        [routerLink]="['/home']"
        target="_blank"
        tooltip="رسالة الموقع"
      >
        <span> Diabetes• </span> Social Network
      </a>
      <button
        aria-controls="navigation-index"
        aria-label="Toggle navigation"
        class="navbar-toggler navbar-toggler"
        [attr.aria-expanded]="!isCollapsed"
        (click)="isCollapsed = !isCollapsed"
        id="navigation"
        type="button"
      >
        <span class="navbar-toggler-bar bar1"> </span>
        <span class="navbar-toggler-bar bar2"> </span>
        <span class="navbar-toggler-bar bar3"> </span>
      </button>
    </div>
    <div
      class="navbar-collapse justify-content-end"
      [collapse]="isCollapsed"
      id="navigation"
    >
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand"><a> BLK• </a></div>
          <div class="col-6 collapse-close text-right">
            <button
              aria-controls="navigation-index"
              aria-label="Toggle navigation"
              class="navbar-toggler"
              [attr.aria-expanded]="!isCollapsed"
              (click)="isCollapsed = !isCollapsed"
              id="navigation"
              type="button"
            >
              <i class="tim-icons icon-simple-remove"> </i>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav">
        <li class="nav-item p-0">
          <a
            class="nav-link"
            href="https://twitter.com/CreativeTim"
            placement="bottom"
            target="_blank"
            tooltip="الدخول للصفحة الرئيسية"
          >
            <!-- <i class="fab fa-home"> </i> -->
            <p class="">الصفحة الرئيسية</p>
          </a>
        </li>
        <li class="nav-item p-0">
          <a
            class="nav-link"
            [routerLink]="['/login']"
            placement="bottom"
            tooltip="الدخول للموقع"
          >
            <i class="fab fa-home-square"> </i>
            <p>الدخول</p>
          </a>
        </li>

        <li class="dropdown nav-item" dropdown>
          <a
            class="dropdown-toggle nav-link dropdown-toggle"
            data-toggle="dropdown"
            dropdownToggle
            href="javascript:void(0)"
          >
            <i class="fa fa-cogs d-lg-none d-xl-none"> </i> تسجيل الدخول
          </a>
          <div class="dropdown-menu dropdown-with-icons" *dropdownMenu>
            <a class="dropdown-item" [routerLink]="['/registerasdoctor']">
              <i class="tim-icons icon-paper"> </i> تسجيل الدخول كطبيب
            </a>
            <a class="dropdown-item" [routerLink]="['/registeraspatient']">
              <i class="tim-icons icon-single-02"> </i> تسجيل الدخول كمستخدم
            </a>
          </div>
        </li>
        <li class="nav-item">
          <a
            class="nav-link btn btn-default d-none d-lg-block"
            href="javascript:void(0)"
            (click)="scrollToDownload($event.target)"
          >
            <i class="tim-icons icon-cloud-download-93"> </i> Download
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
