<div mat-dialog-content class="arabic">
  <p class="btext">ادخل اجابتك</p>
  <mat-form-field>
    <mat-label>الاجابة</mat-label>
    <input matInput [(ngModel)]="data.Answer" />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">الغاء</button>
  <button mat-button [mat-dialog-close]="data.Answer" cdkFocusInitial>
    حسنا
  </button>
</div>
