@import "~bootstrap/scss/bootstrap.scss";
@import "src/assets/scss/blk-design-system/custom/_variables.scss";
.nav-tabs {
  border: 0;
  padding: $padding-base-vertical $padding-base-horizontal;

  > .nav-item {
    > .nav-link {
      color: $black;
      margin: 0;
      margin-right: 5px;
      background-color: $transparent-bg;
      border-radius: 300px;
      // border-top-left-radius: 0;
      // border-top-right-radius: 0;
      padding: $padding-btn-vertical $padding-round-horizontal;
      line-height: $line-height-sm;
      color: black;
      font-weight: 300;
      font-size: large;

      &:hover {
        background-color: $transparent-bg;
        border: 1px solid darken($black, 5%);
        color: rgba($black, 0.8);
      }

      &.active {
        background-color: #b8c0c8;
        color: black;
        border: 2px solid darken($black, 5%);
        color: rgba($black, 0.8);
        border-radius: "";
      }

      i.tim-icons {
        font-size: 14px;
        position: relative;
        top: -1px;
        margin-right: 3px;
      }
    }

    &.disabled > .nav-link,
    &.disabled > .nav-link:hover {
      color: rgba(255, 255, 255, 0.5);
    }
  }

  &.nav-tabs-neutral {
    > .nav-item {
      > .nav-link {
        color: $black;

        &.active {
          border-color: $opacity-5;
          color: $black;
        }
      }
    }
  }
}
.btext {
  color: black;
  font-weight: 300;
  border-color: black;
  color: black;
}
label {
  color: black;
  font-weight: 300;
  font-size: x-large;
}
