<div mat-dialog-content>
  <p style="color: blue;">أدخل {{ data.key }}</p>
  <label>{{ data.key }}</label>
  <input [(ngModel)]="value" name="Address" />
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">الغاء</button>
  <button
    mat-button
    (click)="onClick(value)"
    [mat-dialog-close]="value"
    cdkFocusInitial
  >
    حسنا
  </button>
</div>
