<!-- <mat-tab-group>
      <mat-tab label="الاسئلة المشار لي فيها"> -->

<mat-card
  class="example-card-for mt-2"
  class="arabic mb-2 shadow-lg"
  *ngFor="let qus of questions; let i = index"
>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title class="">{{ qus.userName }}</mat-card-title>
    <mat-card-subtitle><b>مستخدم</b></mat-card-subtitle>
    <mat-card-subtitle>{{ qus.date | date }}</mat-card-subtitle>

    <!-- <p>Feel {{post.reactionName}}</p>
      <p>type {{post.categoryName}}</p> -->
  </mat-card-header>
  <mat-card-content>
    <p class="btext">
      {{ qus.question }}
    </p>
  </mat-card-content>

  <div class="row">
    <div class="pull-right reply col-2">
      <button mat-button>
        <a
          style="cursor: pointer; color: royalblue; margin-top: 5px;"
          (click)="openDialog(qus.id, i)"
          ><span><i class="fa fa-reply"></i> أضافة اجابة</span></a
        >
      </button>
    </div>
    <div class="col-3">
      <button mat-button [matMenuTriggerFor]="menu" style="color: royalblue;">
        فلترة الاجابات : {{ filter[i] }}
      </button>
    </div>
  </div>
  <hr style="width: 100%;" />
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="getdocans(qus.id, i)">
      أجابات الاطباء
    </button>
    <button mat-menu-item (click)="getuserans(qus.id, i)">
      اجابات المستخدمين
    </button>
    <button mat-menu-item (click)="getallanss(qus.id, i)">جميع الأجابات</button>

    <button mat-menu-item (click)="noans(i)">بدون اجابات</button>
  </mat-menu>
  <div *ngFor="let Ans of qus.answers" class="mt-2 mr-5 rounded-circle">
    <mat-card class="mt-2" style="background-color: rgb(233, 231, 231);">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ Ans.userName }}</mat-card-title>
        <mat-card-subtitle>{{ Ans.date | date }}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content class="mt-2">
        {{ Ans.answer }}
      </mat-card-content>
    </mat-card>
  </div>
</mat-card>

<!-- </mat-tab>
    </mat-tab-group> -->
