<section class="section section-lg"></section>

<div class="container arabic register-page">
  <div class="profile-page tx-13">
    <div class="row">
      <div class="col-12 grid-margin">
        <div class="profile-header">
          <div class="cover">
            <div class="gray-shade"></div>
            <figure style="margin-top: 100px;"></figure>
            <div
              class="cover-body d-flex justify-content-between align-items-center"
            >
              <div>
                <img
                  class="profile-pic"
                  src="https://bootdey.com/img/Content/avatar/avatar5.png"
                  alt="profile"
                /><span> </span>
                <span class="profile-name"> {{ userName }}</span>
              </div>
              <div class="d-none d-md-block">
                <button class="btn btn-primary btn-icon-text btn-edit-profile">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-edit btn-icon-prepend"
                  >
                    <path
                      d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"
                    ></path>
                    <path
                      d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"
                    ></path>
                  </svg>
                  Edit profile
                </button>
              </div>
            </div>
          </div>
          <div class="header-links">
            <ul class="links d-flex align-items-center mt-3 mt-md-0">
              <li
                class="header-link-item ml-3 pl-3 border-left d-flex align-items-center"
              >
                <a
                  style="cursor: pointer;"
                  class="pt-1px d-none d-md-block"
                  (click)="showMyPosts()"
                  >منشوراتي</a
                >
              </li>
              <li
                class="header-link-item ml-3 pl-3 border-left d-flex align-items-center"
              >
                <a
                  style="cursor: pointer;"
                  class="pt-1px d-none d-md-block"
                  (click)="showMyQuestions()"
                  >أسئلتي</a
                >
              </li>
              <li
                class="header-link-item ml-3 pl-3 border-left d-flex align-items-center"
              >
                <a
                  style="cursor: pointer;"
                  class="pt-1px d-none d-md-block"
                  (click)="showMySavedPosts()"
                  >المنشورات المحفوظة</a
                >
              </li>
              <li
                class="header-link-item ml-3 pl-3 border-left d-flex align-items-center"
              >
                <a
                  style="cursor: pointer;"
                  class="pt-1px d-none d-md-block"
                  (click)="addpost()"
                  >كتابة منشور</a
                >
              </li>
              <!-- <li class="header-link-item ml-3 pl-3 border-left d-flex align-items-center">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users mr-1 icon-md">
      <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
      <circle cx="9" cy="7" r="4"></circle>
      <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
      <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
  </svg>

  <a class="pt-1px d-none d-md-block" [routerLink]="['/myDoctors']" >أطبائي</a> -->
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row profile-body shadow">
      <!-- left wrapper start -->
      <div class="d-none d-md-block col-md-4 col-xl-3 left-wrapper">
        <div class="card rounded-lg shadow-lg">
          <div class="card-body">
            <div class="d-flex align-items-center justify-content-between mb-2">
              <h6 class="btext mb-0">About</h6>
              <div class="dropdown">
                <button
                  class="btn p-0"
                  type="button"
                  id="dropdownMenuButton"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <i class="tim-icons icon-minimal-down"> </i>
                </button>
              </div>
            </div>
            <p class="btext">
              Hi! I'm Amiah the Senior UI Designer at Vibrant. We hope you enjoy
              the design and quality of Social.
            </p>
            <div class="mt-3">
              <label class="tx-11 font-weight-bold mb-0 text-uppercase"
                >البريد الالكتروني</label
              >
              <p class="text-muted">{{ email }}</p>
            </div>
            <div class="mt-3">
              <label
                class="tx-11 font-weight-bold mb-0 text-uppercase"
                *ngIf="role == 'Patient'"
                >تم التسجيل كمستخدم</label
              >
              <!-- <p class="text-muted">{{role}}</p> -->
              <label
                class="tx-11 font-weight-bold mb-0 text-uppercase"
                *ngIf="role == 'Doctor'"
                >تم التسجيل كطبيب</label
              >
            </div>
          </div>
        </div>
      </div>
      <app-myposts
        class="col-md-9 col-xl-9 middle-wrapper"
        #p
        id="my_p"
      ></app-myposts>
      <app-questions
        class="col-md-9 col-xl-9 middle-wrapper"
        #p
        id="my_q"
      ></app-questions>
      <app-saved-posts
        class="col-md-9 col-xl-9 middle-wrapper"
        #p
        id="my_ps"
      ></app-saved-posts>
    </div>
  </div>
</div>
