<section class="section section-lg"></section>

<div class="wrapper nclass arabic">
  <form style="background-color: rgb(34, 23, 23);">
    <div class="row">
      <textarea
        placeholder="اكتب منشور"
        style="
          margin: auto;
          margin-top: 5px;
          height: 150px;
          width: 50%;
          border-radius: 5px;
        "
        class="form-control"
        [(ngModel)]="p.content"
        name="PostContent"
      ></textarea>
    </div>
    <div class="d-flex justify-content-center">
      <div class="form-group col-md-1">
        <span style="float: right;">التصنيف</span>
        <select
          style="margin-right: auto; margin-left: auto;"
          class="form-control"
          [(ngModel)]="p.CategoryName"
          name="category"
          id="ctg_ID"
        >
          <option
            *ngFor="let item of c"
            [value]="item.categoryName"
            style="color: black;"
            >{{ item.categoryName }}</option
          >
        </select>
      </div>

      <div class="form-group col-md-1">
        <span style="float: right;">الحالات</span>
        <select
          class="form-control"
          [(ngModel)]="p.ReactionName"
          name="reaction"
          id="react_ID"
        >
          <option
            *ngFor="let item of r"
            [value]="item.reactionName"
            style="color: black;"
            >{{ item.reactionName }}</option
          >
        </select>
      </div>
      <div class="form-group col-md-2">
        <span style="float: right;"> صورة</span>
        <!-- (change)="selectFile($event)" -->
        <input
          type="file"
          #Image
          accept="image/*"
          class="form-control"
          [(ngModel)]="p.ImageSource"
          name="img"
        />
      </div>
      <div class="form-group col-md-2">
        <input
          type="submit"
          class="btn btn-primary"
          style="margin: 20px 50px; width: 100px;"
          (click)="add()"
          value="نشر"
        />
      </div>
    </div>
  </form>

  <div class="row">
    <div class="leftcolumn">
      <div *ngFor="let pt of p_arr">
        <div class="card" name="post_card">
          <h6 hidden>{{ pt.postId }}</h6>
          <h2>{{ pt.userName }}</h2>
          <h6>{{ pt.date | date }}</h6>
          <h5>التصنيف: {{ pt.categoryName }}</h5>
          <h6>الحالة: {{ pt.reactionName }}</h6>
          <p>{{ pt.content }}</p>

          <div class="fakeimg" style="height: 200px;">Image</div>
          <!-- <img [src]="img_url">     -->
        </div>
      </div>
      <button
        class="btn"
        (click)="showMore()"
        style="background-color: rgb(31, 21, 21); display: block; width: 100%;"
        name="showMore"
      >
        إعرض المزيد
      </button>
    </div>

    <div class="rightcolumn">
      <div class="card">
        <h3>التصنيفات</h3>
        <hr />
        <form>
          <!-- <button (click)="clickItem($event.target)" *ngFor="let item of c;let i=index;"  [style.background-color]="i==0 ? 'lightgrey' : 'transparent'" class="btn " style="background-color:transparent; display: block;" [value]="item.categoryId" name="ctg_btn">{{item.categoryName}}</button> -->
          <button
            (click)="clickItem($event.target)"
            *ngFor="let item of c"
            class="btn"
            style="background-color: transparent; display: block;"
            [value]="item.categoryId"
            name="ctg_btn"
          >
            {{ item.categoryName }}
          </button>

          <input
            name="b"
            type="submit"
            class="btn btn-primary"
            style="margin: 20px 110px; width: 100px;"
            (click)="filterposts()"
            value="Filter"
          />
        </form>
      </div>
    </div>
  </div>

  <div class="footer">
    <h2>Footer</h2>
  </div>
</div>
