.ctg {
  display: inline;
  padding-right: 30px;
  color: black;
  cursor: pointer;
}
/************************************************************************/
* {
  box-sizing: border-box;
}

/* Add a gray background color with some padding */
.nclass {
  font-family: Arial;
  padding: 20px;
  background: #1d073a;
}

.leftcolumn {
  float: left;
  width: 75%;
  text-align: right;
}

.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
  text-align: center;
  justify-content: center;
  align-content: center;
}
button[name="ctg_btn"] {
  width: 100%;
}

input[name="b"] {
  width: 100%;
  padding: -10px;
}
.textarea {
  margin-left: auto;
  margin-right: auto;
}

.fakeimg {
  background-color: rgb(248, 239, 239);
  width: 100%;
  padding: 20px;
}

.card {
  background-color: rgb(44, 34, 34);
  padding: 20px;
  margin-top: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
}
