<section class="section section-lg"></section>
<div class="row justify-content-center">
  <div class="col-sm-6 col-8 arabic">
    <div class="card">
      <div class="card-body">
        <div class="card-title mb-4">
          <div class="d-flex justify-content-start">
            <div class="image-container">
              <img
                src="http://placehold.it/150x150"
                id="imgProfile"
                style="width: 150px; height: 150px;"
                class="img-thumbnail"
              />
              <div class="middle">
                <input
                  type="button"
                  class="btn btn-secondary"
                  id="btnChangePicture"
                  value="Change"
                />
                <input
                  type="file"
                  style="display: none;"
                  id="profilePicture"
                  name="file"
                />
              </div>
            </div>
            <div class="userData mr-3 align-self-center">
              <h2 class="d-block" style="font-size: 1.5rem; font-weight: bold;">
                <a href="javascript:void(0);">{{ doctor.userName }}</a>
              </h2>
            </div>
            <div class="ml-auto">
              <input
                type="button"
                class="btn btn-primary d-none"
                id="btnDiscard"
                value="Discard Changes"
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            -->
            <div>
              <div class="tab-content ml-1" id="myTabContent">
                <div
                  class="tab-pane fade show active"
                  id="basicInfo"
                  role="tabpanel"
                  aria-labelledby="basicInfo-tab"
                >
                  <div class="row">
                    <div class="col-sm-3 col-md-4 col-4">
                      <label style="font-weight: bold;"
                        >البريد الالكتروني</label
                      >
                    </div>
                    <div class="col-sm-3 col-md-8 col-6">
                      {{ doctor.email }}
                    </div>
                  </div>
                  <hr />

                  <div class="row">
                    <div class="col-sm-3 col-md-2 col-4">
                      <label style="font-weight: bold;">كلمة المرور</label>
                    </div>
                    <div class="col-sm-3 col-md-8 col-6">
                      *************************
                    </div>
                    <div class="col-sm-3 col-md-2 col-3">
                      <a style="cursor: pointer; color: royalblue;"
                        >تغيير كلمة المرور</a
                      >
                    </div>
                  </div>
                  <hr />

                  <div class="row">
                    <div class="col-sm-3 col-md-2 col-4">
                      <label style="font-weight: bold;">رقم الهاتف</label>
                    </div>
                    <div class="col-sm-3 col-md-8 col-6">
                      {{ doctor.phoneNumber }}
                    </div>
                    <div class="col-sm-3 col-md-2 col-3">
                      <a
                        style="cursor: pointer; color: royalblue;"
                        (click)="openDialog('phoneNumber', 'رقم الهاتف')"
                        >تعديل</a
                      >
                    </div>
                  </div>
                  <hr />
                  <div class="row">
                    <div class="col-sm-3 col-md-6 col-4">
                      <label style="font-weight: bold;"
                        >عنوان مقدم الخدمة الطبية</label
                      >
                    </div>
                    <div class="col-sm-3 col-md-4 col-6">
                      {{ doctor.address }}
                    </div>
                    <div class="col-sm-3 col-md-2 col-3">
                      <a
                        style="cursor: pointer; color: royalblue;"
                        (click)="openDialog('address', 'العنوان')"
                        >تعديل</a
                      >
                    </div>
                  </div>
                  <hr />
                  <div class="row mb-2">
                    <div class="col-sm-3 col-md-2 col-4">
                      <label style="font-weight: bold; color: blue;"
                        >الشهادات</label
                      >
                    </div>
                    <div class="col-sm-3 col-md-8 col-6"></div>
                    <div class="col-sm-3 col-md-2 col-3">
                      <a
                        style="cursor: pointer; color: royalblue;"
                        (click)="openDialog3()"
                        >أضافة</a
                      >
                    </div>
                  </div>
                  <div class="row" *ngFor="let a of cr; let i = index">
                    <div class="col-sm-2 col-md-2 col-3">
                      <label style="font-weight: bold;">الشهادة</label>
                    </div>
                    <div class="col-sm-2 col-md-3 col-3">
                      {{ a.certificate }}
                    </div>

                    <div class="col-sm-2 col-md-2 col-3">
                      <label style="font-weight: bold;">الجامعة</label>
                    </div>
                    <div class="col-sm-2 col-md-3 col-2">
                      {{ a.university }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
