<section class="section section-lg"></section>

<div class="container arabic register-page">
  <div class="profile-page tx-13">
    <div class="row">
      <div class="col-12 grid-margin">
        <div class="profile-header">
          <div class="cover mb-3">
            <div class="gray-shade"></div>
            <figure style="margin-top: 100px;"></figure>
            <div
              class="cover-body d-flex justify-content-between align-items-center"
              style="background-image: url('../../../assets/img/header.png');"
            >
              <!-- <img src="../../../assets/img/Healthcare-Software-Solution.png" /> -->

              <div>
                <img
                  class="profile-pic"
                  src="https://bootdey.com/img/Content/avatar/avatar5.png"
                  alt="profile"
                /><span> </span>
                <span class="profile-name"> {{ profile.userName }}</span>
              </div>
              <div class="d-none d-md-block"></div>
            </div>
          </div>
          <div class="header-links">
            <ul class="links d-flex align-items-center mt-3 mt-md-0">
              <li
                class="header-link-item ml-3 pl-3 border-left d-flex align-items-center"
              >
                <a
                  style="cursor: pointer;"
                  class="pt-1px d-none d-md-block"
                  (click)="showMyPosts()"
                  >المنشورات</a
                >
              </li>
              <li
                class="header-link-item ml-3 pl-3 border-left d-flex align-items-center"
              >
                <a
                  style="cursor: pointer;"
                  class="pt-1px d-none d-md-block"
                  (click)="showMyQuestions()"
                  >الأسئلة</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row profile-body shadow">
      <!-- left wrapper start -->
      <div class="d-none d-md-block col-md-4 col-xl-3 left-wrapper">
        <div class="card rounded-lg shadow-lg">
          <div class="card-body">
            <div class="d-flex align-items-center justify-content-between mb-2">
              <h6 class="btext mb-0">About</h6>
              <div class="dropdown">
                <button
                  class="btn p-0"
                  type="button"
                  id="dropdownMenuButton"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <i class="tim-icons icon-minimal-down"> </i>
                </button>
              </div>
            </div>
            <p class="btext"></p>
            <div class="btext">
              <div class="mt-3">
                <label class="tx-11 font-weight-bold mb-0 text-uppercase btext"
                  >رقم الهاتف</label
                >
                <p class="text-muted">{{ profile.phoneNamber }}</p>
              </div>
              <div class="mt-3">
                <label class="tx-11 font-weight-bold mb-0 text-uppercase btext"
                  >العنوان</label
                >
                <p class="text-muted">{{ profile.address }}</p>
              </div>
              <div class="mt-3">
                <label class="tx-11 font-weight-bold mb-0 text-uppercase btext"
                  >الشهادات</label
                >
                <p class="text-muted"></p>
              </div>
              <div *ngFor="let a of cr" ;class="mt-3">
                <label
                  class="tx-11 font-weight-bold mb-0 text-uppercase btext"
                  {{
                  a.certificate
                  }}
                ></label>
                <p class="text-muted">{{ a.university }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <app-profile-posts
        class="col-md-9 col-xl-9 middle-wrapper"
        #p
        id="my_p"
      ></app-profile-posts>
      <app-profile-questions
        class="col-md-9 col-xl-9 middle-wrapper"
        #p
        id="my_q"
      ></app-profile-questions>
    </div>
  </div>
</div>
