<div class="card rounded-lg shadow-lg" *ngFor="let pt of p_arr">
  <div class="card-header">
    <div class="d-flex align-items-center justify-content-between">
      <div class="d-flex align-items-center text-black">
        <div class="ml-2">
          <h3 class="text-black btext">
            {{ pt.userName }}
          </h3>
          <h6 class="tx-11 text-muted">{{ pt.date | date }}</h6>
          <h6 style="display: inline;" class="text-muted">
            التصنيف: {{ pt.categoryName }}
          </h6>
          |
          <h6 style="display: inline;" class="text-muted">
            الحالة: {{ pt.reactionName }}
          </h6>
        </div>
      </div>
      <div class="dropdown">
        <button
          class="btn p-2"
          style="background-color: #e5e8ec; background-image: none;"
          type="button"
          id="dropdownMenuButton2"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i class="tim-icons icon-bullet-list-67"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <!-- <img class="img-fluid" src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="">  -->
    <div class="fakeimg" style="height: 200px;">Image</div>
    <p class="mt-3 tx-14 btext">{{ pt.content }}</p>
  </div>
  <div class="card-footer">
    <div class="d-flex post-actions">
      <a href="javascript:;" class="d-flex align-items-center text-muted mr-4">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-heart icon-md"
        >
          <path
            d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"
          ></path>
        </svg>
        <p class="d-none d-md-block ml-2">Like</p>
      </a>
      <a href="javascript:;" class="d-flex align-items-center text-muted mr-4">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-message-square icon-md"
        >
          <path
            d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"
          ></path>
        </svg>
        <p class="d-none d-md-block ml-2">Comment</p>
      </a>
    </div>
  </div>
</div>
